<header class="site-header" role="banner">

    <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <div>
            <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
            {%- if page_paths -%}
            <nav class="site-nav">
                <input type="checkbox" id="nav-trigger" class="nav-trigger" />
                <label for="nav-trigger">
                    <span class="menu-icon">
                        <svg viewBox="0 0 18 15" width="18px" height="15px">
                            <path
                                d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z" />
                        </svg>
                    </span>
                </label>

                <div class="trigger">
                    <a class="page-link" target="_blank" href="https://rdbl.co/2QD97YJ">Merch Store</a>
                    {%- for path in page_paths -%}
                    {%- assign my_page = site.pages | where: "path", path | first -%}
                    {%- if my_page.title -%}
                    {%- unless my_page.exclude -%}
                    <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                    {%- endunless -%}
                    {%- endif -%}
                    {%- endfor -%}
                </div>
            </nav>
            {%- endif -%}
        </div>
        <div class="title-links-container">
            <input id="dismiss_link_trigger" type="checkbox" />
            <label for="dismiss_link_trigger"> Listen Here!
            </label>
            <div class="title-links">
                <div class="title-link-group">
                    <a href="https://podcasts.apple.com/us/podcast/use-case/id1481366213?uo=4" target="_blank">
                        <img src="/assets/podcatchers/apple_podcasts@2x.png">
                    </a>
                    <a href="https://open.spotify.com/show/2bePoRcK7kDnO9nRRttVA7" target="_blank">
                        <img src="/assets/podcatchers/spotify@2x.png">
                    </a>
                    <a href="https://www.stitcher.com/podcast/use-case" target="_blank">
                        <img src="/assets/podcatchers/stitcher_dark@2x.png">
                    </a>
                    <a href="https://overcast.fm/itunes1481366213/use-case" target="_blank">
                        <img src="/assets/podcatchers/overcast@2x.png">
                    </a>
                    <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy9jYjZkNzEwL3BvZGNhc3QvcnNz"
                        target="_blank">
                        <img src="/assets/podcatchers/google_podcasts@2x.png">
                    </a>
                </div>
                <div class="title-link-group">
                    <a href="https://pca.st/qwgikqft" target="_blank">
                        <img src="/assets/podcatchers/pocket_casts@2x.png">
                    </a>
                    <a href="https://www.breaker.audio/use-case-1" target="_blank">
                        <img src="/assets/podcatchers/breaker@2x.png">
                    </a>
                    <a href="https://castbox.fm/channel/Use-Case-id2386856" target="_blank">
                        <img src="/assets/podcatchers/castbox@2x.png">
                    </a>
                    <a href="https://radiopublic.com/use-case-WdA3q7" target="_blank">
                        <img src="/assets/podcatchers/radiopublic@2x.png">
                    </a>
                    <a href="https://anchor.fm/s/cb6d710/podcast/rss" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" id="rssfeed" viewBox="0 0 8 8" class="rssfeed">
                            <title>RSS Feed</title>
                            <rect class="button" width="8" height="8" rx="1.5"></rect>
                            <circle class="symbol" cx="2" cy="6" r="1"></circle>
                            <path class="symbol" d="m 1,4 a 3,3 0 0 1 3,3 h 1 a 4,4 0 0 0 -4,-4 z"></path>
                            <path class="symbol" d="m 1,2 a 5,5 0 0 1 5,5 h 1 a 6,6 0 0 0 -6,-6 z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>