---
# Only the main Sass file needs front matter (the dashes are enough)
---

$brand-color: #aca6a6;

@import "minima";
@import "_responsive.scss";

.site-title {
  float: unset;
}
.title-links-container {
  input[type="checkbox"] {
    display: none;
  }
  label {
    display: none;
    @include tablet {
      color: white;
      width: 33%;
      text-align: center;
      vertical-align: middle;
      background-color: rgb(93, 87, 86);
      display: block;
      &::after {
        content: "";
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
  input:checked ~ label {
    &::after {
      margin-bottom: 0;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  }
  @include tablet {
    input:checked ~ .title-links {
      display: none;
    }
  }

  .title-links {
    margin-top: -5px;
    margin-bottom: 5px;
    display: flex;
    & > .title-link-group {
      & > a {
        width: 25px;
        height: 25px;
        display: inline-block;
        margin-right: 5px;
        .rssfeed {
          width: 100%;
          height: 100%;
          margin-bottom: -8px;
          .button {
            stroke: none;
            fill: $brand-color;
          }
          .symbol {
            stroke: x none;
            fill: white;
          }
        }
      }
    }
    @include tablet {
      text-align: center;
      margin: unset;
      flex-wrap: wrap;
      background-color: rgba(117, 108, 108, 0.9);
      & > .title-link-group {
        display: flex;
        &:first-child {
          justify-content: flex-end;
        }
        &:last-child {
          justify-content: flex-start;
        }
        @include mobile {
          &:first-child,
          &:last-child {
            justify-content: center;
          }
        }
        flex: 1;
        & > a {
          margin: 5px;
          width: 40px;
          height: 40px;
          .youtube {
            margin-top: 5px;
          }
        }
      }
    }
  }

  @include tablet {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    footer {
      margin-bottom: 100px;
    }
  }
}

.post-select {
  position: relative;
  display: inline-block;
  ul.post-select-items {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin: 0;
    z-index: 1;
    list-style-type: none;
    li {
      margin: 5px;
      a:hover {
        text-decoration: none;
      }
    }
  }

  .post-select-header {
    margin-bottom: 0;
    &::after {
      content: "";
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      margin-bottom: 3px;
      margin-left: 10px;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
    cursor: pointer;
  }

  &:hover,
  &.active {
    ul.post-select-items {
      display: block;
    }

    .post-select-header {
      &::after {
        margin-bottom: 5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}
