---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Episodes" }}</h2> -->
    <div class="post-select">
        <h2 class="post-select-header">{{ page.list_title | default: "Everything" }}</h2>
        <ul class="post-select-items">
            {%- for category in site.categories -%}
            {%- unless category[0] == page.list_title -%}
            <li><a
                    href="{{site.url}}{{site.baseurl}}/{{ category[0] | downcase | downcase | url_escape | strip | replace: ' ', '-' }}.html">{{category[0]}}</a>
            </li>
            {%- endunless -%}
            {%- endfor -%}
            {%- if page.list_title -%}
            <li>
                <a href="{{site.url}}{{site.baseurl}}">Everything</a>
            </li>
            {%- endif -%}
        </ul>
    </div>
    <ul class="post-list">
        {%- assign posts = site.posts -%}
        {%- if page.list_title -%}
        {%- assign posts = site.posts | where: "categories", page.list_title -%}
        {%- endif -%}
        {%- for post in posts -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }} | {{post.categories}}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
            <div>
                {{ post.excerpt }}
            </div>
            {%- endif -%}
            {%- if post.show_player -%}
            {{ post.player }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

</div>